header {
    display: flex;
    justify-content: center;
    border: 1px solid #1A5D78;
    background-color: #1A5D78;
}

header h1 {
    color: white;
    font-size: 40px;
}

.search_section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;

}

label {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

input {
    height: 35px;
    border-radius: 5px;
    margin: 10px;
}

button {
    background-color: #1A5D78;
    margin: 5px;
    height: 33px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: #1A5D78
}

.main1 {

    display: flex;
    margin: 20px;
    height: 320px;

}

.current_forecast {
    border: 1px solid black;
    width: 85%;
}

.city_breakdown {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;

}

h2 {
    font-size: 30px;
    font-weight: bold;


}

#city {
    margin: 2px;
    display: flex;
    align-items: center;

}

.buttons {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 5px;
}

.main2 {
    display: flex;
    margin: 20px;
}

.five_day_forecast {
    width: 80%;
}

.five_day_breakdown {
    margin: 5px;
    border: 1px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.title {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.day_breakdown {

    margin: 5px;
    background-color: #1A5D78;
    width: 40%;
    padding: 5px;

}

.date {
    font-size: 20px;
}

#history {

    font-size: 25px;
    text-align: center;
    display: flex;
    margin: 40px;
}

p {
    font-size: 18px;
    display: flex;
    align-items: center;
}
